*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.maincontainer {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1440px;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-72 {
  left: 18rem;
}

.right-0 {
  right: 0px;
}

.top-0 {
  top: 0px;
}

.top-32 {
  top: 8rem;
}

.top-\[85px\] {
  top: 85px;
}

.-z-10 {
  z-index: -10;
}

.-z-20 {
  z-index: -20;
}

.-z-30 {
  z-index: -30;
}

.z-50 {
  z-index: 50;
}

.order-2 {
  order: 2;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.m-auto {
  margin: auto;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-\[36px\] {
  margin-bottom: 36px;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[22px\] {
  margin-top: 22px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-11 {
  height: 2.75rem;
}

.h-14 {
  height: 3.5rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-64 {
  height: 16rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[90px\] {
  height: 90px;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.max-h-\[625px\] {
  max-height: 625px;
}

.min-h-\[41px\] {
  min-height: 41px;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-10 {
  width: 2.5rem;
}

.w-11 {
  width: 2.75rem;
}

.w-11\/12 {
  width: 91.666667%;
}

.w-32 {
  width: 8rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[270px\] {
  width: 270px;
}

.w-\[43\%\] {
  width: 43%;
}

.w-full {
  width: 100%;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-4xl {
  max-width: 56rem;
}

.max-w-\[1020px\] {
  max-width: 1020px;
}

.max-w-\[522px\] {
  max-width: 522px;
}

.max-w-\[572px\] {
  max-width: 572px;
}

.max-w-\[633px\] {
  max-width: 633px;
}

.max-w-\[637px\] {
  max-width: 637px;
}

.max-w-\[687px\] {
  max-width: 687px;
}

.max-w-\[700px\] {
  max-width: 700px;
}

.max-w-\[896px\] {
  max-width: 896px;
}

.max-w-\[950px\] {
  max-width: 950px;
}

.max-w-md {
  max-width: 28rem;
}

.scale-0 {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.list-disc {
  list-style-type: disc;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-x-0 {
  -moz-column-gap: 0px;
       column-gap: 0px;
}

.gap-x-12 {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-x-7 {
  -moz-column-gap: 1.75rem;
       column-gap: 1.75rem;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-y-14 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3.5rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-wrap {
  text-wrap: wrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[\#9C9C9C\] {
  --tw-border-opacity: 1;
  border-color: rgb(156 156 156 / var(--tw-border-opacity, 1));
}

.border-\[\#D5D5D5\] {
  --tw-border-opacity: 1;
  border-color: rgb(213 213 213 / var(--tw-border-opacity, 1));
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1));
}

.border-pinky {
  --tw-border-opacity: 1;
  border-color: rgb(246 44 115 / var(--tw-border-opacity, 1));
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(39 40 33 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-x-gray-200 {
  --tw-border-opacity: 1;
  border-left-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
  border-right-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.bg-\[rgb\(249_249_249\/1\)\] {
  background-color: rgb(249 249 249/1);
}

.bg-\[rgba\(246\2c 249\2c 255\2c 0\.50\)\] {
  background-color: rgba(246,249,255,0.50);
}

.bg-\[rgba\(255\2c 255\2c 255\2c 0\.2\)\] {
  background-color: rgba(255,255,255,0.2);
}

.bg-pinky {
  --tw-bg-opacity: 1;
  background-color: rgb(246 44 115 / var(--tw-bg-opacity, 1));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(39 40 33 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-9 {
  padding: 2.25rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-20 {
  padding-bottom: 5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-40 {
  padding-bottom: 10rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-\[18px\] {
  padding-left: 18px;
}

.pr-\[32px\] {
  padding-right: 32px;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[1\.5rem\] {
  padding-top: 1.5rem;
}

.pt-\[1rem\] {
  padding-top: 1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-start {
  text-align: start;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[1rem\] {
  font-size: 1rem;
}

.text-\[45px\] {
  font-size: 45px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.not-italic {
  font-style: normal;
}

.\!leading-6 {
  line-height: 1.5rem !important;
}

.\!leading-9 {
  line-height: 2.25rem !important;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[26px\] {
  line-height: 26px;
}

.leading-\[35px\] {
  line-height: 35px;
}

.leading-\[80px\] {
  line-height: 80px;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-\[0\.28px\] {
  letter-spacing: 0.28px;
}

.\!text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.text-\[\#9C9C9C\] {
  --tw-text-opacity: 1;
  color: rgb(156 156 156 / var(--tw-text-opacity, 1));
}

.text-\[\#A4A6A6\] {
  --tw-text-opacity: 1;
  color: rgb(164 166 166 / var(--tw-text-opacity, 1));
}

.text-\[rgb\(170_170_171\/1\)\] {
  color: rgb(170 170 171/1);
}

.text-\[rgba\(26\2c 26\2c 26\2c 0\.40\)\] {
  color: rgba(26,26,26,0.40);
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-pinky {
  --tw-text-opacity: 1;
  color: rgb(246 44 115 / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(39 40 33 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-100 {
  opacity: 1;
}

.shadow-\[4px_4px_19px_0px_rgba\(0\2c 0\2c 0\2c 0\.10\)\] {
  --tw-shadow: 4px 4px 19px 0px rgba(0,0,0,0.10);
  --tw-shadow-colored: 4px 4px 19px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: weight;
  font-style: normal;
}

.weight {
  font-weight: 500;
}

.pinky {
  background-color: #f62c73;
}

@media (max-width: 1061px) {
  .nav-ul {
    gap: 1.5rem;
  }

  .nav-ul-div {
    gap: 1rem;
  }
}

.wrapper {
  /* width: 100%; */
  position: relative;
  margin: 0 auto;
  text-align: center;
  /* margin-left: 20%; */
}

.sentence {
  /* margin: 0 auto; */
  text-align: center;
}

.sentence span {
  color: #333;
  font-size: 2em;
  font-weight: 300;
}

/* Word SLider */

.ms-slider {
  --tw-text-opacity: 1;
  color: rgb(246 44 115 / var(--tw-text-opacity, 1));
  display: inline-block;
  height: 1.5em;
  overflow: hidden;
  vertical-align: middle;
}

.ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  animation-name: wordSlider;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}

.ms-slider__word {
  display: block;
  line-height: 1.3em;
  text-align: left;
}

@keyframes wordSlider {
  0%,
  27% {
    transform: translateY(0%);
  }

  33%,
  60% {
    transform: translateY(-25%);
  }

  66%,
  93% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-75%);
  }
}

/* @media screen and (max-width: 420px) {
    .words{
	display: block;
	text-indent: 0px;
}
} */

.full-width {
  width: 100%;
  height: 100vh;
}

.para-color {
  color: rgb(39 40 33 / var(--tw-text-opacity));
  font-size: 1rem;
}

.side-border {
  border: 2px solid #f62c73;
}

.shadow-card {
  cursor: default;
  flex-direction: column;
  border-radius: 10px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(231 229 229 / var(--tw-border-opacity));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  transition-duration: 0.2s;
}

.xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-card:hover {
  box-shadow: 4px 4px 15px #f62c7326;
}

.slick-track {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-list {
  padding: 0 !important;
  overflow: visible !important;
}

/* .inner{ 
 margin-right: 20px!important;
  } */

.slick-slide {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide .inner {
  margin: 0 130px;
}

.mrque {
  overflow: hidden;
}

.marquee_rtl,
.marquee {
  transform: scale(0.8, 0.8);
  margin-top: 0px;
}

.hide {
  display: none !important;
}

.custom-btn {
  display: flex;
  width: 13rem;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: rgb(246 44 115/1);
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  transition-duration: 200ms;
}

.custom-btn2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: rgb(246 44 115/1);
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  transition-duration: 200ms;
}

@media (max-width: 767.5px) {
  .maxmd\:flex-col {
    flex-direction: column;
  }
}

.card {
  border-radius: 0.5rem;
  padding: 20px 56px 48px 16px;
  transition-duration: 0.3s;
}

.card:hover {
  --tw-shadow: 4px 4px 15px 6px rgba(246, 44, 115, 0.15);
  --tw-shadow-colored: 4px 4px 15px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1200px) {
  .gridlayout > div:nth-child(3n),
  .gridlayout > div:last-child {
    border-right-width: 0px;
  }

  .gridlayout > div:nth-last-child(-n + 2) {
    border-bottom: 0;
  }
}

@media (max-width: 1024.5px) {
  .gridlayout > div:nth-child(2n) {
    border-right: 0px;
  }

  .gridlayout > div:last-child {
    border-bottom: 0;
  }

  .gridlayout > div:nth-last-child(-n + 2) {
    border-bottom: 0;
  }
}

/* @media (max-width: 426px){
	.gridlayout>div:nth-child(2n){
		border-right: 1px

	}
	.gridlayout>div:last-child {
        border-bottom: 1px;
    }
	.gridlayout>div:nth-last-child(-n+2) {
        border-bottom: 1px;
    }
	
} */

.productcard {
  background-color: rgb(248 248 248/1);
  padding: 1.25rem;
  color: rgb(39 40 33/1);
  --tw-text-opacity: 1;
  opacity: 1;
  transition-duration: 300ms;
  border-radius: 10px;
}

.productcard:hover {
  background-color: rgb(39 40 33/1);
  color: rgb(255 255 255/1);
  --tw-text-opacity: 1;
  opacity: 1;
}

.techuse {
  height: 5rem;
  width: 5rem;
  background-color: rgb(255 255 255/1);
  padding: 0.75rem;
  border-radius: 9999px;
  --tw-shadow: 0px 4px 6px rgba(39, 40, 33, 0.19);
  --tw-shadow-colored: 0px 4px 6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* .xy-center {
  @apply flex items-center justify-between;
} */

.getintouch {
  width: 100%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.formcontainer {
  width: 100%;
  background-color: rgb(39 40 33 / 1);
  padding: 2.5rem 1.25rem;
}

@media (min-width: 1200px) {
  .formcontainer {
    padding: 5rem;
  }
}

@media (min-width: 992px) {
  .formcontainer {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media (min-width: 576px) {
  .formcontainer {
    padding: 3.5rem;
  }
}

.active {
  color: #f62c73;
  border-bottom: 2px solid #f62c73;
}

/* megamenu */

.megamenu {
  position: fixed;
  z-index: 1;
  /* margin-left: auto; */
  /* margin-right: auto; */
  justify-content: space-between;
  gap: 0.75rem;
  background-color: white;
  left: 0;
  right: 0;
  top: 86px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding: 64px 0.75rem;
  transition-duration: 0.3s;
}

@media (min-width: 1200px) {
  .megamenu {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

/* @media (min-width: 992px) {
  .megamenu {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    width: 90%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 4rem;
    padding-bottom: 4rem;
  } 
 } */

.megamenu-item {
  display: inline-block;
  color: black;
  text-decoration: none;
}

.megamenu-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #f62c73;
  transition: width 0.2s;
}

.megamenu-item:hover::after {
  width: 100%;
}

.nav-active {
  color: #f62c73;
}

.inputwrapper {
  height: 4rem;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bg-section {
  background-color: rgb(249 249 249/1);
}

.choose__cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 90%;
  border-radius: 0.5rem;
  border-bottom-width: 6px;
  --tw-border-opacity: 1;
  border-color: rgb(246 44 115 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 2px 2px 21px 0px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 2px 2px 21px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 992px) {
  .choose__cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* @media (min-width: 768px) {
  .choose__cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
} */

.slick-track {
  gap: 3px;
}

.carousel__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.slider-nav {
  margin-top: 40px;
  border-top: 2px solid rgba(181, 181, 181, 0.6);
}

/* .portfolio-prev {
  position: absolute;
  top: 70px;
}
.portfolio-next {
  position: absolute;
  top: 70px;
  right: 10px;
} */

.slick-slide {
  border-right: 0;
}

.slick-active {
  border-left: 2px solid rgba(181, 181, 181, 0.6);
}

.slick-current {
  border-left: 0;
}

.slick-slide {
  filter: grayscale(100);
}

.slick-current {
  filter: grayscale(0);
}

.placeholder\:text-\[\#9C9C9C\]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(156 156 156 / var(--tw-text-opacity, 1));
}

.placeholder\:text-\[\#9C9C9C\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(156 156 156 / var(--tw-text-opacity, 1));
}

.placeholder\:text-\[rgba\(26\2c 26\2c 26\2c 0\.40\)\]::-moz-placeholder {
  color: rgba(26,26,26,0.40);
}

.placeholder\:text-\[rgba\(26\2c 26\2c 26\2c 0\.40\)\]::placeholder {
  color: rgba(26,26,26,0.40);
}

.first\:\!border-t-0:first-child {
  border-top-width: 0px !important;
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:border-pinky:hover {
  --tw-border-opacity: 1;
  border-color: rgb(246 44 115 / var(--tw-border-opacity, 1));
}

.hover\:border-b-pink-600:hover {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(219 39 119 / var(--tw-border-opacity, 1));
}

.hover\:bg-pinky:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(246 44 115 / var(--tw-bg-opacity, 1));
}

.hover\:bg-transparent:hover {
  background-color: transparent;
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:\!text-pinky:hover {
  --tw-text-opacity: 1 !important;
  color: rgb(246 44 115 / var(--tw-text-opacity, 1)) !important;
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.hover\:text-pink-600:hover {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity, 1));
}

.hover\:text-pinky:hover {
  --tw-text-opacity: 1;
  color: rgb(246 44 115 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 375px) {
  .coxs\:flex {
    display: flex;
  }

  .coxs\:w-36 {
    width: 9rem;
  }

  .coxs\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .coxs\:items-start {
    align-items: flex-start;
  }

  .coxs\:justify-center {
    justify-content: center;
  }

  .coxs\:gap-10 {
    gap: 2.5rem;
  }
}

@media (min-width: 425px) {
  .xs\:w-5\/6 {
    width: 83.333333%;
  }

  .xs\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xs\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .xs\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xs\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xs\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 576px) {
  .sm\:my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
  }

  .sm\:columns-2 {
    -moz-columns: 2;
         columns: 2;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:gap-2 {
    gap: 0.5rem;
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:pt-14 {
    padding-top: 3.5rem;
  }

  .sm\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:sticky {
    position: sticky;
  }

  .md\:left-1 {
    left: 0.25rem;
  }

  .md\:right-1 {
    right: 0.25rem;
  }

  .md\:top-\[70px\] {
    top: 70px;
  }

  .md\:order-none {
    order: 0;
  }

  .md\:my-14 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }

  .md\:mt-8 {
    margin-top: 2rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:h-\[480px\] {
    height: 480px;
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .md\:w-40 {
    width: 10rem;
  }

  .md\:w-\[90\%\] {
    width: 90%;
  }

  .md\:max-w-\[1000px\] {
    max-width: 1000px;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-col {
    flex-direction: column;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-14 {
    gap: 3.5rem;
  }

  .md\:gap-3 {
    gap: 0.75rem;
  }

  .md\:gap-x-20 {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }

  .md\:gap-y-14 {
    row-gap: 3.5rem;
  }

  .md\:border-r {
    border-right-width: 1px;
  }

  .md\:p-5 {
    padding: 1.25rem;
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:pb-36 {
    padding-bottom: 9rem;
  }

  .md\:pb-\[77px\] {
    padding-bottom: 77px;
  }

  .md\:pt-28 {
    padding-top: 7rem;
  }

  .md\:pt-\[109px\] {
    padding-top: 109px;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:leading-\[60px\] {
    line-height: 60px;
  }
}

@media (min-width: 992px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:sticky {
    position: sticky;
  }

  .lg\:top-32 {
    top: 8rem;
  }

  .lg\:z-40 {
    z-index: 40;
  }

  .lg\:my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .lg\:my-11 {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
  }

  .lg\:my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .lg\:ml-\[10\%\] {
    margin-left: 10%;
  }

  .lg\:mt-24 {
    margin-top: 6rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-5\/6 {
    width: 83.333333%;
  }

  .lg\:w-\[500px\] {
    width: 500px;
  }

  .lg\:max-w-\[500px\] {
    max-width: 500px;
  }

  .lg\:max-w-\[505px\] {
    max-width: 505px;
  }

  .lg\:max-w-\[540px\] {
    max-width: 540px;
  }

  .lg\:max-w-\[699px\] {
    max-width: 699px;
  }

  .lg\:max-w-\[854px\] {
    max-width: 854px;
  }

  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-\[300px_auto\] {
    grid-template-columns: 300px auto;
  }

  .lg\:gap-x-40 {
    -moz-column-gap: 10rem;
         column-gap: 10rem;
  }

  .lg\:gap-y-20 {
    row-gap: 5rem;
  }

  .lg\:space-y-20 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(5rem * var(--tw-space-y-reverse));
  }

  .lg\:border-b-0 {
    border-bottom-width: 0px;
  }

  .lg\:p-7 {
    padding: 1.75rem;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:pl-14 {
    padding-left: 3.5rem;
  }

  .lg\:pt-16 {
    padding-top: 4rem;
  }

  .lg\:pt-40 {
    padding-top: 10rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .lg\:shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 1200px) {
  .xl\:top-\[130px\] {
    top: 130px;
  }

  .xl\:top-\[96px\] {
    top: 96px;
  }

  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .xl\:w-48 {
    width: 12rem;
  }

  .xl\:w-\[600px\] {
    width: 600px;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:grid-cols-\[400px_auto\] {
    grid-template-columns: 400px auto;
  }

  .xl\:p-10 {
    padding: 2.5rem;
  }

  .xl\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .xl\:py-\[60px\] {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .xl\:pt-20 {
    padding-top: 5rem;
  }

  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xl\:leading-9 {
    line-height: 2.25rem;
  }
}

@media (min-width: 1440px) {
  .\32xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .\32xl\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .\32xl\:w-\[700px\] {
    width: 700px;
  }

  .\32xl\:max-w-\[543px\] {
    max-width: 543px;
  }

  .\32xl\:max-w-\[800px\] {
    max-width: 800px;
  }

  .\32xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .\32xl\:grid-cols-\[500px_auto\] {
    grid-template-columns: 500px auto;
  }

  .\32xl\:gap-6 {
    gap: 1.5rem;
  }

  .\32xl\:gap-7 {
    gap: 1.75rem;
  }

  .\32xl\:space-y-5 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
  }

  .\32xl\:pl-6 {
    padding-left: 1.5rem;
  }

  .\32xl\:leading-8 {
    line-height: 2rem;
  }
}

@media (max-width: 575.5px) {
  .maxsm\:flex-col {
    flex-direction: column;
  }

  .maxsm\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 991.5px) {
  .max-lg\:flex {
    display: flex;
  }

  .max-lg\:hidden {
    display: none;
  }

  .max-lg\:flex-col {
    flex-direction: column;
  }
}
